{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://c2063081.blob.core.windows.net/static/css/custom-form.css">

<h4>SHU Course Moodle Services - Login</h4>
{% if request.GET.next %}
    <p class="alert alert-warning">You need to login or register to access this page.</p>
{% endif %}
<form method="POST" class="custom-form">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form.as_p }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
    </div>
</form>

<div class="border-top pt-3">
    <a class="ml-2"  href="{% url 'password_reset' %}" style="color: blue;">Forgot Password</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    You need to create an account? <a class="ml-2" href="{% url 'register' %}">Register</a>
</div>

{% endblock content %}
