{% extends "base.html" %}
{% block content %}
<body>

<h4>SHU Course Moodle Services - About Us</h4>
<div class="course-module">
    <p><strong>This is Cloud-Based project for Course-Module registration</strong></p>
    <p><strong>Developed By :</strong></p>
    <p>Adetoyese Olaide - c2063081</p>
    <p>Ekpedo, Obianuju - c2024304</p>
    <p>Oluwole, Tobi - c2068047</p>
    <p>Omire-oluedo, Chinenye - c2039993</p> <br>
    <a href="https://github.com/sgbo001/courseRegistrationApp.git"><p>Click here to access the Github Repository <br>
    <br></div>
{% endblock content %}