{% extends "base.html" %}

{% block content %}
<style>
.course-module {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.course-module h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.course-module p {
  font-size: 14px;
  margin: 0;
}

.course-module .description {
  font-style: italic;
}

.course-module .courses {
  font-weight: bold;
  margin-top: 10px;
}

.course-module .course-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.course-module .course-list li {
  font-size: 14px;
  margin-bottom: 5px;
}

.course-module .course-list li:before {
  content: "\2022";
  color: #555;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
</style>

<h4>Browse Modules - {{ request.GET.course_name }}</h4>
    {% for module in modules %}
    <div class="course-module">
    <a href="{% url 'modules:module_detail' %}?course_code={{ module.course_code }}&course_name={{ request.GET.course_name }}" ><h3>Module Name: {{ module.course_name }} </h3></a>
        <p>Code: {{ module.course_code }}</p>
        <p>Credit: {{ module.credit }}</p>
        <p>Category: {{ module.category }}</p>
        <p>Available: {{ module.available }}</p>
        <p>Click<a href="{% url 'modules:module_detail' %}?course_code={{ module.course_code }}&course_name={{ request.GET.course_name }}"  style="color: Blue;"> <strong> HERE</strong></a> to register/Unregister for this module </p>
        
    </div>
    {% empty %}
        <p>No modules found.</p>
    {% endfor %}

 
{% endblock %}
